veanalyze DUT_pkg.sv dport_ram.v my_oddrx8.v my_iddrx8.v ddr3_sr4.v ddr3_sr36.v interface.sv counter.sv LFSR.sv
veanalyze ddr3_simple4.sv DDR3_Controller.sv cpu.sv top.sv
#veanalyze LFSR.sv
#Declare Top Module
comp -top hdltop
#comp -top lfsr

#Declare single step compile/analysis flow
comp -single_step

#Solo is DIS
comp -platform D1S
comp -num_boards 1
rtlc -allow_ISL

#ICE Legacy Support enabled
comp -app legacy

#Retain write only memories in design 
velsyn -SWOM
velsyn -Dump e "clockfreq.txt"
